*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #f0f0f0;
    --second-bg-color: #d6eaf8;
    --text-color: #333333;
    --main-color: #8c52ff;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


section {
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}




.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 800;
    cursor: default;
}

.navbar a {
    font-size: 2rem;
    color: #fff;
    margin-left: 4rem;
    transition: .4s;
    font-weight: 500;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-image: url('../img/new_bg.png');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color:black;
    color: #fff;
    
}

/* configuracion imagen index */

.home-img {
    position: relative;
    height: 100vh;
}

.home-img img {
    margin-top: 15vh;
    height: 80vh;
    position: absolute;
    top: 0;
    /* left: -25rem; */
    /* transform: scaleX(-1);  */

}

.container-vacio{
    width: 35vw;
}


@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content{
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 2rem 4rem;
    border-radius: 2rem;
    margin-right: 2rem;
    width: 65vw;
}

.home-content h2{
    font-size: 4rem;
    font-weight: 700;
}
.home-content h3{
    font-size: 8rem;
    font-weight: 700;
    text-shadow: 0 0 1rem black;

    /* background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2rem;
    width: 50vw; */
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
    
}

.home-content h1{
    font-size: 20rem;
    font-weight: 700;
    line-height: .8;
    text-shadow: 0 0 5rem var(--main-color);

}

.home-content p{
    font-size: 1.6rem;
    padding-right: 10%;
}


.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius:  4rem;
    box-shadow:  0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}




/* cover section */
.cover-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh; /* Ajusta esta propiedad */
    background: linear-gradient(to bottom, #000000, var(--main-color) , #000000); /* Degradado de negro (#000000) a morado (#800080) de arriba hacia abajo y luego a negro */
    animation: moveBackground 10s linear infinite;
    padding: 0 10% 0;

}

.cover-content {
    text-align: center;
    padding: 2rem 15rem;
    /* background-color: #fff; */
    border-radius: 15rem;
}

.cover-content h1{
    color: #fff;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    letter-spacing: .1rem;
    transition: .5s ease;
}

.img-container img{
    height: 15vh;
    object-fit: cover;
    border-radius: 2rem;
    margin: 2rem 2rem 2rem 2rem;
    transition: .5s ease;
}

.img-container img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: none;
    color: #fff;
}

/* video-section */

.video-section {
    position: relative;
    min-height: 50vh; /* Ajusta la altura según tu diseño */
    overflow: hidden;
}

.video-section video {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */

    width: 100%;
    height: 170%;
    object-fit: cover; /* Ajusta la relación de aspecto */
    z-index: 1; /* Asegura que el video esté por encima del degradado */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 2; /* Asegura que el degradado esté detrás del video */
}

.content {
    position: absolute;
    z-index: 3; /* Asegura que el contenido esté por encima del video */
    /* Estilos adicionales para el contenido superpuesto */
    font-size: 6rem;
    color: #fff;
    text-shadow: 0 0rem 3rem var(--main-color);
    font-weight: bold;
    bottom: 11%;
    right: 10%;

}

#btn-despega {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 10%;
    /* bottom: 2%;
    left: 50%;
    transform: translateX(-50%); */
}


.video-section a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    border-radius: 4rem;
}

.video-section a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}



/* about section */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: black;
    color: #fff;
}

.about-img img{
    width: 35vw;
    /* border-radius: 50%; */
}

.heading{
    text-align: center;
    font-size: 8rem;
}

.about-content{
    margin-left: 5%;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 3rem;
    background-image: url(../img/linea.png);
    background-size: contain;
    padding:  2rem 0 2rem 2rem;
    width: 50%;
    border-radius: 6rem;
}
.about-content p{
    font-size: 2rem;
    margin: 2rem 0 3rem;

}

.about-span{
    color: var(--main-color);
    font-weight: 800;
}


.about-content a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.about-content a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}


/* projects section */


.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 20rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box img{
    width: 15vw;
    border-radius: 2rem;
}







/* iconos de proyectos */

.services{
    background-color: black;
    color: #fff;
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}


.services-box h3 {
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}



/* PRODUCTOS-SECTION */

@keyframes floatImagev2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.products{
    /* background: linear-gradient(to bottom, #000000, var(--main-color) , #000000);  */

    /* background-image: url(../img/products-section.png); */
    /* background-size: cover; */
    color: #fff;
    background-color: #000000 ;

}

.product-row {
    /* min-height: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #007bff; */
    background-size: cover;
    color: #fff;
}

.img-f1{
    z-index: -1;
    position: absolute;
    top:10%;
    left: 10%;
}
.img-f2{
    z-index: -1;
    position: absolute;
    top:10%;
    left: 10%;
}


.product {
    width: 30vw; /* Ajusta el ancho de cada producto */
    transition: .5s ease;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.product-sensivivo{
    margin-right: 4rem;
    background-image: url(/img/f2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.product-monster{
    margin-left: 4rem;
    background-image: url(/img/f1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.product img {
    width: 60%;
    height: auto;
    /* animation: floatImage 4s ease-in-out infinite; */
}
.product img.a{
    animation: floatImage 4s ease-in-out infinite;
}
.product img.b{
    animation: floatImagev2 4s ease-in-out infinite;
}

.product-info {
    text-align: center;
    margin-top: 10px;
}

.product-info h2 {
    font-size: 7rem;
    margin: 0;
    text-shadow: 0 0rem 2rem var(--main-color);

}

.product-info p {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5px 0;
    font-family: sans-serif;
}

.product-info h1 {
    font-size: 2.5rem;
    margin: 5px 0;
}

.rating {
    font-size: 3rem;
    color: gray; /* Color de las estrellas */
}

.checked {
    color: orange; /* Color de las estrellas activas */
}

.price {
    font-weight: bold;
    font-size: 18px;
}

.product:hover {
    box-shadow: 0 0 500px var(--main-color); 
    /* transform: scale(1.1) !important;  */
}

.product-info a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 0 3rem 0;
    transition: .5s ease;
    border-radius: 4rem;
}

.product-info a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* premios section */

.portfolio{
    background: linear-gradient(to bottom, #000000, var(--main-color) , #000000); 
    color: #fff;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;   
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color)); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size:  3.1rem;
    color: #fff;
    font-weight: 800;
}

.portfolio-layer p{
    font-size: 1.8rem;
    margin: .3rm 0 1rem;
    color: #fff;
    font-weight: 500;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* contact section */

.contact{
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    min-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: #8c52ff ;
    border-radius:  .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

/* Cambiar el color del placeholder a rojo */
input::placeholder {
    color: #fff;
}

  /* Cambiar el color del placeholder a azul en un textarea */
textarea::placeholder {
    color: #fff;
}

#contact-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    border-radius: 4rem;
}

#contact-button:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}


/* footer section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: black;
    color: #fff;
}

.footer-text{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow:  0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}



/* BREAKPOINTS */

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    .section{
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
  }
  
@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns:  repeat(2, 1fr);
    }
  }
  
@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
  }
  
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
  }
@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img  {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
  }



/* ajustes finales */
#home div p span {
    font-weight: 600;
}

/* #home div p span:nth-of-type(1){
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(0, 145, 0);
}
#home div p span:nth-of-type(2){
    font-weight: 800;
    text-transform: uppercase;
    color: red;
} */

